[submodule "lib/copilot-discussion"]
	path = lib/copilot-discussion
	url = https://github.com/Copilot-Language/copilot-discussion.git
[submodule "lib/copilot-c99"]
	path = lib/copilot-c99
	url = https://github.com/Copilot-Language/copilot-c99.git
	branch = master
